/* -------------------------------------------------------------------------------font import */
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    /* Add any additional font weights and styles below */
    font-weight: 400;
    font-style: normal;
  }
/* -------------------------------------------------------------------------------font weigt */
.font-weight-lighter {
    font-weight: lighter;
  }
  
  .font-weight-light {
    font-weight: 300; /* lighter than normal */
  }
  
  .font-weight-normal {
    font-weight: normal;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .font-weight-bolder {
    font-weight: bolder;
  }
  /* -------------------------------------------------------------------------------font size */
  .font-size-xx-small {
    font-size: 10px;
  }
  
  .font-size-x-small {
    font-size: 20px;
  }
  
  .font-size-small {
    font-size: 30px;
  }
  
  .font-size-medium {
    font-size: 40px;
  }
  
  .font-size-large {
    font-size: 50px;
  }
  
  .font-size-x-large {
    font-size: 60px;
  }
  
  .font-size-xx-large {
    font-size: 70px;
  }