*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;
    cursor: none;
}
.full-screen{
  height: 100vh;
  width: 100vw;
}
.about-me{
  padding-left: 20vw;
  padding-right: 20vw;
  max-width: 60vw;
}
/* -------------------------------------------------------------------------------colors */
.background-color-white{
  background-color: white;
}
/* -------------------------------------------------------------------------------flexbox */
.display-flex{
    display: flex;
}
.display-inline {
    display: inline;
  }
  
  .display-block {
    display: block;
  }
  
  .display-inline-block {
    display: inline-block;
  }
  
  .display-grid {
    display: grid;
  }
  
  .display-table {
    display: table;
  }

  .center-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-self{
    justify-self: center;
    align-self: center;
  }

  .flex-wrap-no-wrap{
    flex-wrap: wrap;
  }
/* -------------------------------------------------------------------------------misc */
#ball{
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  mix-blend-mode: difference;
  /* border: 3px solid black; */
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

section.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: black;
  color: white;
}
.text {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: block;
  transform-origin: 50% 100%;
  transition: transform 0.25s;
  align-items: center;
  overflow: hidden;
}

.text .inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  color: var(--xlightGray);
  font-size: 4rem;
  white-space: nowrap;
  font-family: "sequel100black-75uploadedfile", sans-serif;
}
.text .inner > * {
  padding: 0 1rem;
}